body {
    background-color: white;
}

p {
  font-size: 1.5rem;
}

.background {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  }

.mittentext {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  }


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, button {
  font-family:'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
  color: #ffffff;
  background-color: #67C0B6;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  box-shadow: 0rem 0rem 0.5rem #2e2e2e;
  z-index: 1;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  width: 5%;
  height: 5%;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: black;
}

button {
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0,136,169,0.8);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: left;

}

